/*@charset "utf-8";*/
/* CSS Document */
@font-face {
    font-family: 'NewsFlash';
    src: url('fonts/NewsFlash/NewsflashBB.eot'); /* IE */
    src: local('Newsflash BB Regular'), local('NewsFlash'), url('fonts/NewsFlash/NewsflashBB.woff') format('woff'), url('fonts/NewsFlash/NewsflashBB.ttf') format('truetype'), url('fonts/NewsFlash/NewsflashBB.svg#NewsflashBB') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Alba';
    src: url('fonts/Alba/albas__-webfont.eot');
    src: url('fonts/Alba/albas__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alba/albas__-webfont.woff') format('woff'),
         url('fonts/Alba/albas__-webfont.ttf') format('truetype'),
         url('fonts/Alba/albas__-webfont.svg#AlbaSuperRegular') format('svg');

}

/* */
body { 

font-family: Tahoma,verdana,arial,serif;

height:100%;
background: -moz-linear-gradient(top,  rgba(5,1,1,0.14) 0%, rgba(0,0,0,0.07) 38%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,1,1,0.14)), color-stop(38%,rgba(0,0,0,0.07))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(5,1,1,0.14) 0%,rgba(0,0,0,0.07) 38%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(5,1,1,0.14) 0%,rgba(0,0,0,0.07) 38%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(5,1,1,0.14) 0%,rgba(0,0,0,0.07) 38%); /* IE10+ */
background: linear-gradient(top,  rgba(5,1,1,0.14) 0%,rgba(0,0,0,0.07) 38%); /* W3C */ background-attachment:fixed !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24050101', endColorstr='#12000000',GradientType=0 ); /* IE6-9 */



}


/*
Nav bar
*/
.navbar { position:fixed;}
.nav-logo { height: 30px; }
.nav-login { text-transform:capitalize; font-weight:bold;}
.nav-avatar { display:inline; margin-top:-6px; margin-right:5px; height: 30px;}
.nav-search { width:170px;}

/*
Heading
*/
.modal h1 { padding:0; width:100%; color:#303030; text-align:center; font:250% Impact; }
.modal h1:after { display:block; margin:10px 0; width:100%; height:1px; box-shadow:0 0 5px rgba(0,0,0,0.5); content:" "; }


/*
Bootstrap
*/
.btn { border-radius: 0; -moz-border-radius:0; -webkit-border-radius:0;}
.btn-red { 
color:#FFFFFF;
font-weight: bold;
border:1px solid #777;
text-shadow:0 0 0 #000;
background: #b44949;
}
.btn-red:hover { color:white; background-position: 0;}
.btn-red {}


/*
Login
*/
form.loginForm { margin:0; padding:5px 0 0 0; display:inline-block; float:right; text-align:right; color:white;}
form.loginForm input { padding-left: 5px; background:#626262; border:1px solid #151515; }
form.loginForm input[name=login] { width:100px; }
form.loginForm input[name=password] { width:70px; }
form.loginForm input:focus, form.loginForm input:hover {  background-color:#EBEBEB; }
form.loginForm input[type=submit] { width:auto; padding-left:6px; padding-right:6px; background-color:rgba(255,255,255,0.6); border:1px solid #555 }
form.loginForm input[type=submit]:hover { background-color:#EBEBEB;}




/*
Index Manif
*/
#top-toolbar { margin-bottom:0;}
#search-manif {position:relative; margin:0;}
#search-manif .btn-group select { text-transform:capitalize; -webkit-appearance:none;}
#search-manif .btn-group input[type=text] { margin-right:0; text-align:left; -webkit-appearance:none;}
#search-manif .btn-group input[name=rch] { width:80px; }
#search-manif .btn-group input[name=rch]:hover { cursor: text;  }
#search-manif .btn-group .btn { text-align:left;}
#search-manif .btn-group .btn.geo-select { width:130px;}
#search-manif .btn-group .btn.cat-select { width:100px;}
div.geo-select .select2-choice { padding:0; height:auto; outline:none; border:0; border-radius:0; background-color:transparent; background-image:none; text-align:left; line-height:inherit; }
div.geo-select .select2-choice:focus { outline:none;}
div.geo-select .select2-choice span { margin-right:16px;}
div.geo-select .select2-choice div { border:0; background:none; background-image:none;}
div.geo-select .select2-choice div b { background-position:0 -2px;}
div.geo-select .select2-drop { left:0; margin-top: 0; padding:5px 0 2px 5px; width:200px;}
div.geo-select .select2-results { max-height:300px; text-align:left; }
#create div.geo-select { margin-right:10px; box-shadow: 0 0 0 5px #E2E2E2;}

.form-search input[type=text] { float:left; margin-right:2px;}
.arianne span { margin-left:4px; }
.arianne span a { border-bottom:1px solid #CCC; color:#999; text-transform:capitalize;}

#rightbar { float:right; width:20%; }
#rightbar ul { margin:0; list-style-type: none; }
#rightbar .image { margin-bottom:10px; width:100%; height:100px; background:#FFF;}
#rightbar .btn-group { margin:15px 0;}
#rightbar select { padding:auto 5px; width:70px; -webkit-appearance:none; }

.tl { display:none; margin:0 2px; padding: 5px 20px; border:1px solid #DDD; border-radius:5px; background:#F2F2F2; text-align:center; }
.tlyear { width:100%; };
.nav-timeline-ul { margin:0; }
.nav-timeline-ul a { font-size:12px; }
.nav-timeline-li { margin:14px 0 0 0px; }
.nav-timeline-year { margin:2px 0; padding:5px 0; padding-left: 10px; border-left:4px solid #AAA; color:grey; font-weight:bold; font-size:130%;}
.nav-timeline-month { margin:2px 0; padding:5px 0; padding-left: 15px; border-left:4px solid #AAA; color:grey; }
.nav-timeline-a:hover { border-left:6px solid #888; color:#005580; text-decoration:none; font-weight:bold;}

.listed { width:78%; }
.manif {  position:relative; float:left; overflow:hidden; margin:10px 0; padding:20px 2% 15px 4%; width:94%; border:1px solid #CCC; background:rgba(255, 255, 255, 0.4); box-shadow:0 -2px 10px rgba(0,0,0,0.1);}
.manif:nth-child(odd) { background: E5E5E5;}
.manif:nth-child(even) { background: E9E9E9;}
.manif:hover { background-color: #F5F5F5;}
.manif:hover .title .nommanif, .manif:hover .description { color:#005580;}
.manif:hover .action { visibility: visible;}
.manif .title {  line-height:0;}
.manif a.nommanif:link { color:#434343; font:bold 150% Arial, 'NewsFlash',Helvetica; }
.manif a.nommanif:visited { color:#434343; }
.manif a.nommanif:hover { text-decoration:none; }
.manif a.nommanif:active { color:#434343; }
.manif .numerus { display:inline; margin:-10px 10px 0 10px; color:#900000; font:20px 'Alba','Arial Black',Arial; line-height:0%;}
.manif .label-success {opacity: .6;
-moz-opacity: .6;
filter:alpha(opacity=.6);}
.manif .logo { float:left; overflow:hidden; margin-right:20px; width:120px; height:120px;  }
.manif .logo .image { width:120px; height:120px; border-radius:3px; background-color: #FFF;  }
.manif .logo .image-default { position:relative; max-width:none; box-shadow:inset 0 0 30px #000; opacity: 0.9;-moz-opacity: 0.9;filter:alpha(opacity=9); }
.manif .description { overflow: hidden; margin-top:5px; height:40px; color:#747474; text-shadow:0 1px 0 #FFF; font-size:14px; line-height:1.5em;}
.manif .description p:first-child { margin-top:0;}
.mainf .description:after { content:'...';}
.manif .action { visibility: hidden;}
.manif .action .btn-toolbar { margin-bottom:0;}
.manif .action .btn-protest { padding-right:15px; font-weight:bold;}
.zeroresult { margin:10px 0; padding:50px 5%; width:90%; background:#f2f2f2; box-shadow:0 0 20px rgba(0,0,0,0.1); color:#DDD; text-align:center; font:70px 'NewsFlash',Impact; line-height:1.5em;}
.zeroresult a { padding:10px 30px; text-shadow:0 0 0 #FFF; font-family:Arial; }
.zeroresult:before { position:relative; top:10%; left:25%; display:block; width:50%; border-bottom:1px solid #DDD; content:" ";}
.zeroresult:after { position:relative; top:70%; left:0; display:block; width:100%; border-bottom:1px solid #DDD; content:" ";}


.pagination ul li a { margin:0 4px; box-shadow:inset 0 0 15px #E1E1E1, 0 0 2px rgba(0,0,0,0.2);}

/*
View Manif
*/
#manif {margin-top:500px; }
#manif .info { overflow: hidden; margin:0 0 10px 0;width:100%;}
#manif .info .logo { float:left; margin-right:10px; height:150px; }
#manif .info .logo img { width:150px; height:150px; }
#manif .info .logo .nologo { width:20px; height:100%; background-color:rgba(0,0,0,0.1);}
#manif .info .meta { float:left; width:80%; }
#manif .info .meta h1 { color:#2B2B2B; text-align:left; text-transform:uppercase; font-weight:700; font-size:500%; font-family:'Oswald',sans-serif; line-height:1em; text-shadow:2px 2px 0 #CCC}
#manif .info .meta .by { width:100%; padding:3px 0; margin:5px 0 0 0; background:#3a3939; border:1px solid #646363;  border-top-right-radius:12px; border-bottom-right-radius: 12px;}
#manif .info .meta .by .user { padding:3px 30px; background:#464545; color:#feffff; font-size:14px; font-weight:bold; text-transform: capitalize;  border:1px solid #646363; box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2); border-top-right-radius:12px; border-bottom-right-radius: 12px;}
#manif .info .meta .by .date { padding:3px 15px; color:#aba9a9; font-size:12px; font-weight: normal; text-transform: capitalize; }

#manif .info .meta .by span:acfter { display:inline-block; content:""; width:5px; height: 5px; box-shadow:3px 3px 0px #666;border-right:2px solid #CCC; border-bottom:2px solid #CCC; margin:0 10px; ms-transform:rotate(-45deg);  -o-transform:rotate(-45deg);  -moz-transform:rotate(-45deg);  -webkit-transform:rotate(-45deg); filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);}
#manif .info .actions { float:left; width:75%; }

#manifeste { padding:15px; }
#manifeste #description { overflow: hidden; height:100%; background-image: -webkit-linear-gradient(top, #EFEFEF, #EEE 90%, #FFF 100%); background-position: 0 -5px; background-size:1.5em 1.5em; font-size:16px;}
#manifeste #description p { margin:0 0 1.5em 0; color:#555; font-size:16px; line-height:1.50em;  }


#manif .wall .onglets { float:left; overflow: hidden; width:70%;}
#ypTab { margin-top:07px; }
#commentaires { margin-top:20px;}

.form_toggle { float:left; display:none; padding:15px 0;width:100%;}
.form_toggle textarea {float:left; }
.form_toggle input#slogan {float:left; width:60%; text-transform:uppercase; font-weight:bold;}
.form_toggle #slogans_avatar { float:left; overflow:hidden; margin:0 0 15px 0; width:100%; text-align:center;}
.form_toggle .slogan_avatar { float:left; display:inline; margin:0 15px; text-align:center; cursor: pointer;}
.form_toggle .slogan_avatar input[type=radio] { margin-right:-15px;}
.form_toggle button {float:left;clear:both; margin-top:5px; padding:5px 25px;}
#protestname { margin:50px 5% 0 5%; width:90%; color:#2B2B2B;  text-align:center; text-transform:uppercase; font-weight:400; font-family:'Oswald','Squada One','Passion One',Impact,Arial Black; line-height:1; }

ul#nav_manif { margin-top: 8px;}
ul#nav_manif li a { padding:10px 20px; }
div.btn-group[data-toogle=buttons-radio] {margin:100px;}
.dropdown_active { background-color:#DDD; }
/*SlabText PLugin*/
.slabtexted .slabtext{display:-moz-inline-box;display:inline-block;white-space:nowrap;}.slabtextinactive .slabtext{display:inline;white-space:normal;word-spacing:inherit !important;letter-spacing:inherit !important;font-size:1em !important;*letter-spacing:0 !important;*word-spacing:0 !important;}.slabtextdone .slabtext{display:block;}
/*end*/


.list_label { float:left; width:100%; border:1px solid red;}

/*
Commentaires
*/
.no_comment { float:left; width:100%; color:#888; text-align:center; font-weight:bold;}
.thread { position:relative; float:left; margin:10px 0; padding:10px 2%; width:96%;  }
.thread_logo { float:left; width:40px; margin-right:5px}
.thread_info { border-bottom:1px solid #DDD }
.replies { position:relative; float:left; margin-bottom:20px; margin-left:1%; padding-left:2%; width:96%; }

.bulle_news { background-color: #fdfdfd; }
.news-date { width:100%; font-size:80%; }
.news-head { width:100%; color: #555; font-weight:bold; font-size:120%;}


.type_slogan {text-align:center;}
.type_slogan div { position:relative; float:left; margin:10px 5%; padding:25px 5%; width:80%; border-radius:15px; background:#FFF; box-shadow:0 0 10px rgba(0,0,0,0.4); text-transform:uppercase; font-weight:bold; font-size:22px; line-height:25px; }
.type_slogan div:after { position:absolute;  top:99%; left:100px; display:block; content:url('../img/slogan_arrow.png'); }                          
.type_slogan img { float:left; clear:both; margin-top:20px; margin-left:50px; }

.comment { background-color:rgba(255,255,255,0.5); boox-shadow:0 2px 5px rgba(0, 0, 0, 0.3); border-bottom:1px solid #CCC;}
.comment .actions { float:left; visibility: hidden; margin-top:10px; width:100%;}
.comment .actions a { color:darkgrey; font-size:90%;}
.comment .actions a:hover { text-decoration: none; color:#4F88D8; cursor: pointer;}
.comment .actions a:after {content:' - '; }
.comment_info { position:relative; float:right; width:18%; text-align:center;}
.comment_info img.avatar { height:50px; }
.comment_info .login { text-transform:capitalize; font-weight:bold;}
.comment_info .date { color:grey;}
.comment_info .actions { margin-top: 10px; margin-right:15px; text-align:center; }
.comment_content { float:left; padding-left:10px; width:90%; }
.comment_user { display:inline; color:#4F88CC; text-transform:capitalize; font-weight:bold; font-size:100%; }
.comment_date { color:grey; font-size:80%; }
.comment_txt { color:#555; font-size:12px;}
.replies { position:relative; float:right; margin-bottom:3px; margin-left:1%; padding-left:2%; width:90%; }
.replies:before { position:absolute; top:0px; left:0; z-index:-10; display:block; height:100%; border-left:1px solid #CCC; content:" "; }
.reply .comment_content:before { position:absolute; top:50%; left:-10px; z-index:-2; display:block; width:10px; border-top:1px solid #CCC; content:" "; }
.replies:before { }

#smartForm { margin:0; width:100%;}
#smartTextarea { float:left; width:70%; height:20px;}
#smartForm input[name=title] {width:55%; margin-left:30px; font-size:90% }
#smartSubmitGroup { float: left;  margin-left:5px; }
#commentaires .btn-toolbar { margin:0;}
.previewMedia { float:left; overflow: hidden; margin:10px 6%; padding:20px 5%; width:80%; border:1px solid #EEEEEE; background-color:#FEFEFE;}
#commentSmartPreview { width:80%; }
.previewMedia-img { float:left; width:50%; text-align:right; }
.previewMedia-img img { max-width:100%; cursor:pointer;}
.previewMedia-totalImage { width:100%; color:#5a5a5a; text-align:center; }
.previewMedia-info { float:right; overflow:hidden; padding:0 5%; width:40%; text-align:left;  }
.previewMedia-close { width:100%; color:grey; text-align:right; font-weight:bold;}
.previewMedia-close:hover { text-decoration:underline; cursor:pointer;}
.previewMedia-title { width:100%; color:black; font-weight:bold;}
.previewMedia-desc { overflow:hidden; width:100%; max-height:250px; }
.userAvatarCommentForm { float:left; height: 30px; margin:0 5px 0 0;}
.formCommentReply { float:left; margin-left:5%; padding:10px 3% 0 3%; width:70%;}
.formCommentReply textarea { float:left; width:100%; height:50px; }
.formCommentReply input[type=submit] { float:left; display:block;}
#hiddenFormReply form { display:none;}
#tri .btn { background-image:none; background-color:transparent; color:grey; border:0;}

#bottomComments { float:left; margin-top:20px; padding:15px 0; width:100%; background-color: #292929; box-shadow:0 -3px 8px rgba(0,0,0,0.5); color:#656363; text-align:center; font-weight:bold; font-size:15px; }
#loadingComments { display:none;}
.arrow_box {
    position: relative;
    
    border: 1px solid #fffbfb;
}
.arrow_box:after, .arrow_box:before {
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: " ";
    pointer-events: none;
}

.arrow_box:after {
    top: 40px;
    margin-top: -20px;
    border-width: 20px;
    border-left-color: #e7e7e7;
}
.arrow_box:before {
    top: 40px;
    margin-top: -21px;
    border-width: 21px;
    border-left-color: #fffbfb;
}



/*
Thread
*/
#thread { margin-top:20px }
#thread .left { float:left; width:20%; }
#thread .left .thread-user { float:left; width:100%;}
#thread .left .thread-user img { float:left; margin-right:5px; width: 50px;}
#thread .left .thread-user .thread-login { color: #555; text-transform: capitalize; font-weight: bold; font-size: 14px;}
.thread-left-title { color:#666; text-transform: capitalize; font-weight:bold; font-size:13px;}
.thread-user-protests { float:left; margin:30px 0;}
.thread-user-protests ul { margin: 0 ; list-style:none; }
.thread-user-protests ul li a { color: #AAA; font-weight: normal; font-size: 12px; }
.thread-user-protests ul li a:hover { color:#666; text-decoration: none; font-weight:bold; }

#thread .middle { float:left; padding: 0 1%; width:58%; border-left:1px solid #DDD; }
#thread .thread-unit { float:left; margin:0px 0; padding: 15px 0; width: 100%;border-bottom:1px solid #DDD;}
#thread .thread-date { float:left; width: 100%; color:#AAA; text-align: right; font-weight:bold; font-size: 12px;}
#thread .thread-logo { float:left; width:40px;}
#thread .thread-content { float: left; margin-left:5px; width:90%;}
#thread .middle .thread-header { color: #AAA; text-align: left; font-size: 12px;}
#thread .middle .thread-content .comment { margin: 0; padding: 0; background-color: transparent; box-shadow:0 0 0 #000; }
#thread .middle .thread-content .comment_content { }
#thread .middle .thread-content .thread-protest { color: #555; }
#thread .middle .comment .comment_date {}
#thread .middle .comment .comment_avatar { }
#thread .middle .comment .previewMedia { background-color: rgba(255, 255, 255, 0.5);}

#thread .right { float:right; width: 18%;}
#thread .rightbox { padding: 20px 14px; background-color: #EEE; color: #777; text-align: center; }
#thread .rightbox p { margin: 10px 0;}
#thread .rightbox strong { color: #555; }


/*
Inscription
*/
.register { overflow: hidden;  margin:0 auto; padding:30px 50px 0 50px; width:300px; border:1px solid #DDDDDD; border-radius:3px;}
.register p { overflow:hidden;width:100%;}
.form-yp .control-group { float:left; margin-bottom:5px; width:100%;}
.form-yp .control-group .control-label { color:#999; font-weight:bold; font-size:110%;}
.form-yp .control-group .controls i.icon-form { position:absolute; display:block; margin-top:7px; margin-left:7px;}
.form-yp .control-group .controls input,select { padding-left:30px; width:87%;}
.form-yp .label_bonhom { float:left; margin:0 5px; width:50px; text-align:center; cursor:pointer;}
.form-yp .label_bonhom img { width:50px; border:1px solid #BBB;}
.form-yp .label_bonhom input[type=radio] { display:inline;}
.register #click_me { float:left; display:block;  display:none; margin-top:10px; padding:5px 0; width:100%; color:#444; text-align:center; font-weight:bold; }
.register #click_me:hover { color:rgb(153,0,0); text-decoration:none; cursor:pointer;}
.register #show_me { display:none; }
.register .actions { float:left; margin:10px 0; width:100%; text-align:right;}
.register .actions p { margin:10px 0; color:#AAA; text-align:right; font-weight:bold; font-size:10px;}

/*
Account
*/
#account { overflow:hidden; margin-top:20px;}
#account .account-block { margin:5px 20px 25px 20px; padding:20px 50px; border:1px solid #CCC; background:#F2F2F2; box-shadow:0 0 4px 4px rgba(100,100,100,0.1); }
#myaccount { float:left; width: 400px; height:600px;}
#changeavatar { float:left; width:230px; }
#changeavatar .avatar { margin-bottom:10px; width:100%; text-align:left;}
#changeavatar .avatar img { width:120px; height:120px; }
#changeavatar input[type=file] { overflow:hidden; border:1px solid #CCC; background:#FFF; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); }
#changepassword { float:left; width:230px; }
#delete { float:left; width:230px; }


/**
* Create
*/
#create #formulaire { margin:10px auto 0 auto; margin-bottom:100px; width:70%;}
#create #formulaire .parts { margin-top:10px; margin-bottom:20px; padding:20px 50px; border:1px solid #CCC; background:#F2F2F2; box-shadow:0 0 4px 4px rgba(100,100,100,0.1);}
#create #formulaire .control-group { float:left; margin:10px 0; width:100%;}
#create #formulaire .control-label { position:relative; display:inline; color:#777; font:bold 150% Arial, Helvetica, sans-serif; }
#create #formulaire .label-helper { display:inline; margin-left:5px; color:#AAA; text-align:left;}
#create #formulaire .controls { margin:10px 0;}
#create #formulaire .helper { padding:0; width:100%; color:#AAA; text-align:left;}
#create #formulaire input[type=text], #create #formulaire textarea { width:100%; }
#create #formulaire input[type=text], #create #formulaire textarea, #create #formulaire select, #create #formulaire input[type=file] {  padding:5px 5px; box-shadow:0 0 0 5px #E2E2E2; }
#create #formulaire input[type=submit] { padding:10px 25px; width:auto; }
#create #formulaire select { width:130px; -webkit-appearance:none;}
#create #formulaire .submit .helper { display:inline; padding-left:15px; color:#AAA; text-align:left; }

/*
Group View
*/

#groups .groupBanner { min-height:40px; overflow: hidden;}
#groups .groupHead { width: 100%; overflow: hidden; background:#F6F6F6; color:#7d7d7d; border:1px solid #BEBDBD; boox-shadow:inset 0 -20px 100px rgba(0, 0, 0, 0.2);}
#groups .groupLogo { position:absolute; margin:-30px 10px 0 10px; z-index:100; }
#groups .groupLogo img { background: #FFF; width: 160px; height: 150px; border: 1px solid rgba(0,0,0,0.2); border-radius: 2px;}
#groups .groupName { float:left; width:45%; display:inline-block; margin:15px 0px 0 190px; font-size: 23px; color:#464545; font-weight: bold;}
#groups .groupSocial { float:left; width:32%; display:inline-block; margin:15px 0 0 1%; font-size: 11px;}
#groups .groupMeta { float:left; width:45%; margin:5px 0px 0 190px; font-size: 11px; font-weight: normal;}
#groups .groupMeta ul { list-style-type: none; margin:5px 0 0 0;}
#groups .groupDescription { float:left; width:42%; margin:5px 0px 0 190px; font-size: 11px; margin-bottom:20px; }
#groups .groupDescription p { margin:0; font-family:inherit; font-size:inherit; line-height: inherit;}
#groups .leftColomn { float:left; width:63%; padding:30px 1% 20px 1%; }
#groups .rightColomn { float:right; width:35%; left:65%; margin-top:70px; margin-bottom:-1000px; }
#groups .rightBlock { float:left; width: 85%; padding:10px 5% 5px 5%; margin: 0 0 15px 0;background: #f6f6f6; border:1px solid #bebdbd;}
#groups .rightBlock h1 {width: 90%; padding:0px 5%; margin:0 0 10px 0; text-align:left; font-size: 14px; text-transform: uppercase; font-weight: bold; background:#464545; color:white; line-height: 25px }
#groups .rightBlock .cont { width: 90%;padding:2px 5%; color:#898989; font-size: 12px;}


.uppercase { text-transform: uppercase; }


/*
Boite Modal
*/
.modal {width:auto;}
.modal form { margin:0;}
.modal-header { overflow:hidden; }
.modal.fade.in {
top: 40%;
}

/*===============
    ERROR
================*/
.error_page { margin:60px 0%; width:100%; height:400px;}
.bubble { position:relative; margin-top:-300px; margin-left:350px; padding:50px 50px; width:400px; border:2px solid #AAA; border-radius:15px; background:#FFF; color:#AAA; text-align:center; font-weight:bold; font-size:26px; line-height:1.5em; }!DOCTYPE
.sign { position:absolute; margin:0 auto; width:400px;}
.oups { position:relative; margin:0 auto; margin-bottom:-155px; margin-left:55px; width:250px; height:150px; }
.oups table { width:100%; height:100%; }
.oups table tr td { vertical-align: middle; text-align:center; font:350% Impact,'Arial Black'; }


/*==============
    FLAGS
    // code from flag-sprites.com modified to fit database country id... dont change !!
===============*/
.flag {
    margin-right:3px;
    width: 16px;
    height: 11px;
    background:url(../img/flags/flags.png) no-repeat;
}
.flag.flag-ad {background-position: -16px 0;}
.flag.flag-ae {background-position: -32px 0;}
.flag.flag-af {background-position: -48px 0;}
.flag.flag-ag {background-position: -64px 0;}
.flag.flag-av {background-position: -80px 0;}
.flag.flag-al {background-position: -96px 0;}
.flag.flag-am {background-position: -112px 0;}
.flag.flag-nt {background-position: -128px 0;}
.flag.flag-ao {background-position: -144px 0;}
.flag.flag-ar {background-position: -160px 0;}
.flag.flag-aq {background-position: -176px 0;}
.flag.flag-at {background-position: -192px 0;}
.flag.flag-au {background-position: -208px 0;}
.flag.flag-aa {background-position: -224px 0;}
.flag.flag-aj {background-position: -240px 0;}
.flag.flag-bk {background-position: 0 -11px;}
.flag.flag-ac {background-position: -16px -11px;}
.flag.flag-bd {background-position: -32px -11px;}
.flag.flag-be {background-position: -48px -11px;}
.flag.flag-uv {background-position: -64px -11px;}
.flag.flag-bu {background-position: -80px -11px;}
.flag.flag-bh {background-position: -96px -11px;}
.flag.flag-bi {background-position: -112px -11px;}
.flag.flag-bj {background-position: -128px -11px;}
.flag.flag-bm {background-position: -144px -11px;}
.flag.flag-bx {background-position: -160px -11px;}
.flag.flag-bl {background-position: -176px -11px;}
.flag.flag-br {background-position: -192px -11px;}
.flag.flag-bs {background-position: -208px -11px;}
.flag.flag-bt {background-position: -224px -11px;}
.flag.flag-bv {background-position: -240px -11px;}
.flag.flag-bc {background-position: 0 -22px;}
.flag.flag-by {background-position: -16px -22px;}
.flag.flag-bz {background-position: -32px -22px;}
.flag.flag-ca {background-position: -48px -22px;}
.flag.flag-catalonia {background-position: -64px -22px;}
.flag.flag-cg {background-position: -80px -22px;}
.flag.flag-ct {background-position: -96px -22px;}
.flag.flag-cf {background-position: -112px -22px;}
.flag.flag-sz {background-position: -128px -22px;}
.flag.flag-iv {background-position: -144px -22px;}
.flag.flag-ck {background-position: -160px -22px;}
.flag.flag-cl {background-position: -176px -22px;}
.flag.flag-cm {background-position: -192px -22px;}
.flag.flag-cn {background-position: -208px -22px;}
.flag.flag-co {background-position: -224px -22px;}
.flag.flag-cs {background-position: -240px -22px;}
.flag.flag-cu {background-position: 0 -33px;}
.flag.flag-cv {background-position: -16px -33px;}
.flag.flag-cw {background-position: -32px -33px;}
.flag.flag-cy {background-position: -48px -33px;}
.flag.flag-ez {background-position: -64px -33px;}
.flag.flag-de {background-position: -80px -33px;}
.flag.flag-dj {background-position: -96px -33px;}
.flag.flag-da {background-position: -112px -33px;}
.flag.flag-dm {background-position: -128px -33px;}
.flag.flag-dr {background-position: -144px -33px;}
.flag.flag-dz {background-position: -160px -33px;}
.flag.flag-ec {background-position: -176px -33px;}
.flag.flag-en {background-position: -192px -33px;}
.flag.flag-eg {background-position: -208px -33px;}
.flag.flag-eh {background-position: -224px -33px;}
.flag.flag-england {background-position: -240px -33px;}
.flag.flag-er {background-position: 0 -44px;}
.flag.flag-sp {background-position: -16px -44px;}
.flag.flag-et {background-position: -32px -44px;}
.flag.flag-eu {background-position: -48px -44px;}
.flag.flag-fi {background-position: -64px -44px;}
.flag.flag-fj {background-position: -80px -44px;}
.flag.flag-fk {background-position: -96px -44px;}
.flag.flag-fm {background-position: -112px -44px;}
.flag.flag-fo {background-position: -128px -44px;}
.flag.flag-fr {background-position: -144px -44px;}
.flag.flag-gb {background-position: -160px -44px;}
.flag.flag-gj {background-position: -192px -44px;}
.flag.flag-gg {background-position: -208px -44px;}
.flag.flag-fg {background-position: -224px -44px;}
.flag.flag-gk {background-position: -240px -44px;}
.flag.flag-gh {background-position: 0 -55px;}
.flag.flag-gi {background-position: -16px -55px;}
.flag.flag-gl {background-position: -32px -55px;}
.flag.flag-gm {background-position: -48px -55px;}
.flag.flag-gv {background-position: -64px -55px;}
.flag.flag-gp {background-position: -80px -55px;}
.flag.flag-ek {background-position: -96px -55px;}
.flag.flag-gr {background-position: -112px -55px;}
.flag.flag-gs {background-position: -128px -55px;}
.flag.flag-gt {background-position: -144px -55px;}
.flag.flag-gq {background-position: -160px -55px;}
.flag.flag-pu {background-position: -176px -55px;}
.flag.flag-gy {background-position: -192px -55px;}
.flag.flag-hk {background-position: -208px -55px;}
.flag.flag-hm {background-position: -224px -55px;}
.flag.flag-ho {background-position: -240px -55px;}
.flag.flag-hr {background-position: 0 -66px;}
.flag.flag-ha {background-position: -16px -66px;}
.flag.flag-hu {background-position: -32px -66px;}
.flag.flag-id {background-position: -48px -66px;}
.flag.flag-ei {background-position: -64px -66px;}
.flag.flag-is {background-position: -80px -66px;}
.flag.flag-im {background-position: -96px -66px;}
.flag.flag-in {background-position: -112px -66px;}
.flag.flag-io {background-position: -128px -66px;}
.flag.flag-iz {background-position: -144px -66px;}
.flag.flag-ir {background-position: -160px -66px;}
.flag.flag-ic {background-position: -176px -66px;}
.flag.flag-it {background-position: -192px -66px;}
.flag.flag-je {background-position: -208px -66px;}
.flag.flag-jm {background-position: -224px -66px;}
.flag.flag-jo {background-position: -240px -66px;}
.flag.flag-ja {background-position: 0 -77px;}
.flag.flag-ke {background-position: -16px -77px;}
.flag.flag-kg {background-position: -32px -77px;}
.flag.flag-cb {background-position: -48px -77px;}
.flag.flag-ki {background-position: -64px -77px;}
.flag.flag-km {background-position: -80px -77px;}
.flag.flag-sc {background-position: -96px -77px;}
.flag.flag-ks {background-position: -112px -77px;}
.flag.flag-kr {background-position: -128px -77px;}
.flag.flag-kurdistan {background-position: -144px -77px;}
.flag.flag-ku {background-position: -160px -77px;}
.flag.flag-cj {background-position: -176px -77px;}
.flag.flag-kz {background-position: -192px -77px;}
.flag.flag-la {background-position: -208px -77px;}
.flag.flag-le {background-position: -224px -77px;}
.flag.flag-st {background-position: -240px -77px;}
.flag.flag-li {background-position: 0 -88px;}
.flag.flag-ce {background-position: -16px -88px;}
.flag.flag-lr {background-position: -32px -88px;}
.flag.flag-ls {background-position: -48px -88px;}
.flag.flag-lh {background-position: -64px -88px;}
.flag.flag-lu {background-position: -80px -88px;}
.flag.flag-lg {background-position: -96px -88px;}
.flag.flag-ly {background-position: -112px -88px;}
.flag.flag-ma {background-position: -128px -88px;}
.flag.flag-mc {background-position: -144px -88px;}
.flag.flag-md {background-position: -160px -88px;}
.flag.flag-mj {background-position: -176px -88px;}
.flag.flag-mg {background-position: -192px -88px;}
.flag.flag-rm {background-position: -208px -88px;}
.flag.flag-mk {background-position: -224px -88px;}
.flag.flag-ml {background-position: -240px -88px;}
.flag.flag-mm {background-position: 0 -99px;}
.flag.flag-mn {background-position: -16px -99px;}
.flag.flag-mo {background-position: -32px -99px;}
.flag.flag-cq {background-position: -48px -99px;}
.flag.flag-mb {background-position: -64px -99px;}
.flag.flag-mr {background-position: -80px -99px;}
.flag.flag-mh {background-position: -96px -99px;}
.flag.flag-mt {background-position: -112px -99px;}
.flag.flag-mu {background-position: -128px -99px;}
.flag.flag-mv {background-position: -144px -99px;}
.flag.flag-mi {background-position: -160px -99px;}
.flag.flag-mx {background-position: -176px -99px;}
.flag.flag-my {background-position: -192px -99px;}
.flag.flag-mz {background-position: -208px -99px;}
.flag.flag-wa {background-position: -224px -99px;}
.flag.flag-nc {background-position: -240px -99px;}
.flag.flag-ne {background-position: 0 -110px;}
.flag.flag-nf {background-position: -16px -110px;}
.flag.flag-ng {background-position: -32px -110px;}
.flag.flag-ni {background-position: -48px -110px;}
.flag.flag-nl {background-position: -64px -110px;}
.flag.flag-no {background-position: -80px -110px;}
.flag.flag-np {background-position: -96px -110px;}
.flag.flag-nr {background-position: -112px -110px;}
.flag.flag-nu {background-position: -128px -110px;}
.flag.flag-nz {background-position: -144px -110px;}
.flag.flag-om {background-position: -160px -110px;}
.flag.flag-pa {background-position: -176px -110px;}
.flag.flag-pe {background-position: -192px -110px;}
.flag.flag-fp {background-position: -208px -110px;}
.flag.flag-pp {background-position: -224px -110px;}
.flag.flag-rp {background-position: -240px -110px;}
.flag.flag-pk {background-position: 0 -121px;}
.flag.flag-pl {background-position: -16px -121px;}
.flag.flag-bp {background-position: -32px -121px;}
.flag.flag-pc {background-position: -48px -121px;}
.flag.flag-rq {background-position: -64px -121px;}
.flag.flag-ps {background-position: -80px -121px;}
.flag.flag-po {background-position: -96px -121px;}
.flag.flag-lq {background-position: -112px -121px;}
.flag.flag-py {background-position: -128px -121px;}
.flag.flag-qa {background-position: -144px -121px;}
.flag.flag-re {background-position: -160px -121px;}
.flag.flag-ro {background-position: -176px -121px;}
.flag.flag-rb {background-position: -192px -121px;}
.flag.flag-rs {background-position: -208px -121px;}
.flag.flag-rw {background-position: -224px -121px;}
.flag.flag-sa {background-position: -240px -121px;}
.flag.flag-sb {background-position: 0 -132px;}
.flag.flag-se {background-position: -16px -132px;}
.flag.flag-scotland {background-position: -32px -132px;}
.flag.flag-su {background-position: -48px -132px;}
.flag.flag-sw {background-position: -64px -132px;}
.flag.flag-sg {background-position: -80px -132px;}
.flag.flag-sh {background-position: -96px -132px;}
.flag.flag-si {background-position: -112px -132px;}
.flag.flag-lo {background-position: -128px -132px;}
.flag.flag-sl {background-position: -144px -132px;}
.flag.flag-sm {background-position: -160px -132px;}
.flag.flag-sn {background-position: -176px -132px;}
.flag.flag-so {background-position: -192px -132px;}
.flag.flag-somaliland {background-position: -208px -132px;}
.flag.flag-ns {background-position: -224px -132px;}
.flag.flag-ss {background-position: -240px -132px;}
.flag.flag-tp {background-position: 0 -143px;}
.flag.flag-sv {background-position: -16px -143px;}
.flag.flag-sy {background-position: -32px -143px;}
.flag.flag-wz {background-position: -48px -143px;}
.flag.flag-tc {background-position: -64px -143px;}
.flag.flag-td {background-position: -80px -143px;}
.flag.flag-tf {background-position: -96px -143px;}
.flag.flag-to {background-position: -112px -143px;}
.flag.flag-th {background-position: -128px -143px;}
.flag.flag-ti {background-position: -144px -143px;}
.flag.flag-tk {background-position: -160px -143px;}
.flag.flag-tl {background-position: -176px -143px;}
.flag.flag-tx {background-position: -192px -143px;}
.flag.flag-ts {background-position: -208px -143px;}
.flag.flag-tn {background-position: -224px -143px;}
.flag.flag-tu {background-position: -240px -143px;}
.flag.flag-tt {background-position: 0 -154px;}
.flag.flag-tv {background-position: -16px -154px;}
.flag.flag-tw {background-position: -32px -154px;}
.flag.flag-tz {background-position: -48px -154px;}
.flag.flag-up {background-position: -64px -154px;}
.flag.flag-ug {background-position: -80px -154px;}
.flag.flag-um {background-position: -96px -154px;}
.flag.flag-us {background-position: -112px -154px;}
.flag.flag-uk {background-position: -176px -44px;}
.flag.flag-uy {background-position: -128px -154px;}
.flag.flag-uz {background-position: -144px -154px;}
.flag.flag-vt {background-position: -160px -154px;}
.flag.flag-vc {background-position: -176px -154px;}
.flag.flag-ve {background-position: -192px -154px;}
.flag.flag-vg {background-position: -208px -154px;}
.flag.flag-vi {background-position: -224px -154px;}
.flag.flag-vm {background-position: -240px -154px;}
.flag.flag-nh {background-position: 0 -165px;}
.flag.flag-wales {background-position: -16px -165px;}
.flag.flag-wf {background-position: -32px -165px;}
.flag.flag-ws {background-position: -48px -165px;}
.flag.flag-ym {background-position: -64px -165px;}
.flag.flag-mf {background-position: -80px -165px;}
.flag.flag-sf {background-position: -96px -165px;}
.flag.flag-zanzibar {background-position: -112px -165px;}
.flag.flag-za {background-position: -128px -165px;}
.flag.flag-zi {background-position: -144px -165px;}
