<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>{title}</title>
</head>
    <body>
        <p>
            <strong>Congratulations, {user}</strong><br />
        </p>
        <p>
            <strong>{title}</strong>
        </p>
        <p>
            You receive this mail because you are an admin of this protest. <br />
            You can see your prit in action here : <a href="{link2Protest}" target="_blank" title="" style="font-weight:bold;color:rgb(153,0,0)">{manif}</a></i><br />
        </p>
        <p>
            <strong>.Dont stop Protest.</strong>
        </p>
        <p>&nbsp;</p>
    </body>
</html>