<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Validation de l'inscription</title>
</head>
    <body>
        <p>
            <strong>Bonjour {user},</strong>
            <br />
            <a href="{lien}" target="_blank" title="Cliquer pour valider" style="font-weight:bold;color:rgb(153,0,0)"><i>Clique sur ce lien pour confirmer ton inscription</i></a>
            <br />
            <br />
            <strong><small>Welcome. YouProtest</small>.</strong>
        </p>
        <p>
            <small style='color:grey'>
                Cette procedure nous permet de savoir que vous etes bien un humain et par un robot.
                Vous pouvez consulter, modifier, supprimer vos données en vous connectant sur YouProtest.
                <br />
                Ne pas répondre à ce mail.
            </small>
        </p>
    </body>
</html>