<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Change your password</title>
</head>
    <body>
        <p>
            <strong>Hey {user},</strong><br />
            You have 2 days to change your password : <a href="{lien}" target="_blank" title="" style="font-weight:bold;color:rgb(153,0,0)">Click here</a></i><br />
            <br />
            <strong>.Dont stop the Protest.</strong>
        </p>
        <p>&nbsp;</p>
        <p>
            <small style='color:grey'>
                You have 2 days to change your password. After you have to request a new mail from us.
            </small>
        </p>
    </body>
</html>